.buildpath
.project
.settings/org.eclipse.php.core.prefs
app/tmp/*
app/tmp/cache/models/myapp_cake_model_default_civisdaniel_list

app/tmp/cache/models/myapp_cake_model_default_usuario

app/tmp/cache/persistent/myapp_cake_core_cake_dev_en-us

app/tmp/cache/persistent/myapp_cake_core_cake_en-us

app/tmp/cache/persistent/myapp_cake_core_default_en-us

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/cache/persistent/myapp_cake_core_object_map
